<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{project.edit.headline}]]</title>
    </head>
    <body>
    Project Explorer
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{project.explorer.headline}]]</h1>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('project')}" />
            <div th:if="${project.tasks.empty}">[[#{task.list.empty}]]</div>
            <div th:if="${!project.tasks.empty}" class="table-responsive">
                <div class="just-padding">

                    <div class="list-group list-group-root well">
                        <div th:each="task : ${project.tasks}">
                            <div th:insert="~{fragments/forms:: renderTask (task=${task},depth=0)}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
