<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{project.edit.headline}]]</title>
    </head>
    <body>
    Project Explorer
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[${project.name}]]</h1>
            </div>
            <div class="d-flex flex-wrap mb-4">
                <h6 class="flex-grow-1">Description: [[${project.description}]]</h6>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('project')}" />
            <div th:if="${project.tasks.empty}">[[#{task.list.empty}]]</div>

            <div th:if="${!project.tasks.empty}" class="container">
                <div th:each="task : ${project.tasks}" th:insert="~{fragments/task:: renderTask (task=${task},depth=0,projId=${project.id})}"></div>
            </div>

        </div>
    </body>
</html>
