<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{note.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{note.add.headline}]]</h1>
                <div>
                    <a th:href="@{/notes}" class="btn btn-secondary">[[#{note.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('note')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='note', field='text')}" />
                <div th:replace="~{fragments/forms::inputRow(object='note', field='author')}" />
                <div th:replace="~{fragments/forms::inputRow(object='note', field='project', type='select')}" />
                <input type="submit" th:value="#{note.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
