<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{note.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{note.list.headline}]]</h1>
                <div>
                    <a th:href="@{/notes/add}" class="btn btn-primary ms-2">[[#{note.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${!notes.empty || filter != null}" class="row">
                <div th:replace="~{fragments/utils::searchFilter(object='note')}" />
            </div>
            <div th:if="${notes.empty}">[[#{note.list.empty}]]</div>
            <div th:if="${!notes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{note.id.label}]]</th>
                            <th scope="col">[[#{note.text.label}]]</th>
                            <th scope="col">[[#{note.author.label}]]</th>
                            <th scope="col">[[#{note.project.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="note : ${notes}">
                            <td>[[${note.id}]]</td>
                            <td>[[${note.text}]]</td>
                            <td>[[${note.author}]]</td>
                            <td>[[${note.project}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/notes/edit/{id}(id=${note.id})}" class="btn btn-sm btn-secondary">[[#{note.list.edit}]]</a>
                                    <form th:action="@{/notes/delete/{id}(id=${note.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{note.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
